/* Default styles for pagination buttons */
.custom-pagination .page-item .page-link {
    color: #1e1e2d; /* Default font color */
    background-color: transparent; /* Default background color */
    border: 1px solid #1e1e2d; /* Default border color */
    margin: 0 2px; /* Spacing between buttons */
  }
  
  /* Active page styles */
  .custom-pagination .page-item.active .page-link {
    color: white; /* Font color for active button */
    background-color: #1e1e2d; /* Background color for active button */
    border-color: #1e1e2d; /* Border color for active button */
  }
  
  /* Hover effect */
  .custom-pagination .page-item .page-link:hover {
    color: white!important; /* Font color on hover */
    background-color: #1e1e2d; /* Background color on hover */
    border-color: #1e1e2d; /* Border color on hover */
  }
  
  /* Disabled button styles */
  .custom-pagination .page-item.disabled .page-link {
    color: #bdbdbd; /* Disabled font color */
    background-color: transparent; /* Disabled background color */
    border-color: #bdbdbd; /* Disabled border color */
    cursor: not-allowed; /* Cursor for disabled buttons */
  }
  